/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/* @import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

Button {
  border: 0;
  background-color: transparent;
  text-transform: none;
  min-width: 0;
  min-height: 0;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
  color: #fff;
}

.h-center {
  horizontal-align: center;
}
.h-right {
  horizontal-align: right;
}

/* .h1 {
  font-weight: bold;
  margin: 10 0 0;
}

.c-light-blue {
  color: #65ADF1;
} */
