<ActionBar title="Get Started!" class="action-bar"></ActionBar>
<!-- <FlexboxLayout flexDirection="column" class="page">
  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="item.id + '. '"></Label>
    <Label class="h2" [text]="item.name"></Label>
  </FlexboxLayout>
  <Label class="h4 m-l-15" [text]="item.role"></Label>
  <Button text="GO BACK!" (tap)="goBack()"></Button>
</FlexboxLayout> -->

<GridLayout rows="auto,*" class="p-2">
  <!-- <Label marginTop="20" fontSize="18" textAlignment="center" [text]="item.name"></Label> -->
  <GridLayout row="1" rows="auto,auto" columns="">
    <Label
      text="Congrats to the Angular Team!"
      textWrap="true"
      class="text-center mt-5 font-bold text-3xl text-blue-500 leading-3"
    ></Label>
    <Label
      row="1"
      text="👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏👏"
      textWrap="true"
      class="text-blue-500 text-center mt-5 text-3xl"
    ></Label>
  </GridLayout>
</GridLayout>
